h2{color:#003580;}
#p1{font-size:14px;
    color:000033;}
.class1{color:#F00;}
.class2{color:#1F87CC;}
.class3{color:#FAA53B;}
.class4{color:#0D7114;}
.picture1{width:100px;
	 height:160px;}
.picture2{width:200px;
	 height:130px;}
